{% extends 'layout.html' %}
{% load static %}

{% block content %}

<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <form action="">
                    <div class="row justify-content-center">
                        <div class="col-md-8 mb-4">
                            <h2>SignUp</h2>
                        </div>
              
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control mb-4 auth-input shadow-none" required placeholder="Username">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control mb-4 auth-input shadow-none" required placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control mb-4 auth-input shadow-none" required placeholder="Full name">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="password" class="form-control mb-4 auth-input shadow-none" required placeholder="Password">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="password" class="form-control mb-4 auth-input shadow-none" required placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <button class="btn btn-outline-white auth-btn">Sign Up</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}