

section .login{
padding: 60px 0;
}


section h2{
font-size: 40px;
color: #111;

}

.auth-input{
    padding: 15px;   
}


.auth-btn{
    padding: 14px;
    border-radius: 0;
    border:0 solid;
    background:	#89CFF0;
}